/**********************************/
/* 0. Geral
/**********************************/

html{
	scroll-behavior: smooth;
}

body{
    margin: 0;
	background-color: white;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
}

a,
a:hover,
a:active,
a:Link,
a:visited {
	text-decoration: none;
	color: black;
}

hr {
	border: none;
	background-color: var(--clr-pink-dark);
	height: 2px;
	width: 140px;
	margin: 20px auto;
}

p {
	line-height: 21.82px;
	padding: 0 10px;
}

.section-titulo {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 100px;
}

img {
	display: block;
	max-width: 100%
}


/**********************************/
/* 1. Menu
/**********************************/

.menu-bg {
	background: rgb(44, 188, 89);
	color: white;
}

.menu {
    font-size: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width:1980px;
    width: 100%;
	margin: 0 auto;
    padding: 0;
	flex-wrap: wrap;

}

.menu__logo {
	margin: 10px;
    padding: 10px;
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.nav__list li a{
	color: white;
}

.nav__list li a:hover{
	color:aqua;
}

.nav__link {
	padding: 30px;
    color: white;
	font-family: "Open Sans";
	font-size: 1.5rem;
}

.intro {
	font-weight: bold;
	font-size: 3rem;
	margin: 0 auto;
	padding: 25px 0;
}


/**********************************/
/* 2. Index
/**********************************/

.complemento{
	font-size: 1.3rem;
}

.form-header1 h1::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: rgb(44, 188, 89);
    margin: 0 auto;
    position: auto;
    border-radius: 10px;
}

.form-header2 h1::after {
    content: '';
    display: block;
    width: 15%;
    height: 0.3rem;
    background-color: rgb(44, 188, 89);
    margin: 0 auto;
    position: auto;
    border-radius: 10px;
}

.maintitle {
	text-align: center;
}

.imagem-into{
	width: 100%;
}

.texto{
	max-width:960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-family: "Open Sans";
	font-size: 1.2rem;
}

.image1 {
	width: 450px;
	height: 300px;
	margin-left: 25px;
	display: inline-block;
	align-items: center;
	text-align: center;
}


/**********************************/
/* 3. Quem somos
/**********************************/

.section-subtitulo{
	text-align: center;
	font-size: 1.5rem;
	font-family: "Open Sans";
}

.mapas {
	text-align: center;
	width: 100%;
}

.geral-qs{
	max-width:960px;
	margin: 0 auto;
}

.somos-c {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.texto-quem-somos {
	flex: 6 1 160px;
	font-size: 1.5rem;
}

.texto-quem-somos1 {
	flex: 6 1 160px;
	font-size: 1.5rem;
}

.img-somos{
	flex: 1 3 350px;
}

.somos-d {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

/**********************************/
/* 4. Cadastre-se
/**********************************/

.container {
    width: 70%;
    height: 80vh;
    display: flex;
	justify-content: right;
    align-items: center;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: rgb(44, 188, 89);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid rgb(44, 188, 89);
}

.input-box label,
.check-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.check-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.check-input {
    display: flex;
    align-items: center;
}

.check-input input {
    margin-right: 0.35rem;
}

.check-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: rgb(44, 188, 89);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: rgb(44, 188, 89);
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .check-inputs {
        margin-top: 2rem;
    }
    .check-group {
        flex-direction: column;
    }
    .check-title h6 {
        margin: 0;
    }
    .check-input {
        margin-top: 0.5rem;
    }
}

/**********************************/
/* 5. planos
/**********************************/

.form-header2 h2::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: rgb(44, 188, 89);
    margin: 0px 3px;
    position: absolute;
	padding: auto;
	text-align: center;
}

.tudo {
	width: 100%;
}

.divmaior{
	width: 100%;
	height: 1000px;
	border: 1px;
	margin: 20px auto;
	
}	

.subtitle {
	margin-top: 50px;
	font-size: 1.4rem;
	padding: 0px 20px;
}

.subtitle1 {
	margin-top: 170px;
}

.aumentar {
	padding: 10px 10px;
	font-size: 1.3rem;
}

.info {
	width: 20%;
    float: left;
    border: 1px;
    margin: 15px auto;
	align-items: center;
}

.aumentarespaco {
	margin-top: 10px;
}

table {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

th, td {
    border: 1px solid black;
    height: 30px;
}

tr:nth-child(even) {
    background-color: gray;
}

.tabela {
	text-align: center;
}

.footerplanos {
	padding: 0 0;
	font-family: "Open Sans";
	background: rgb(44, 188, 89);
	width: 100%;
	color: white;
	margin-top: 20px;
}

/**********************************/
/* 6. Footer
/**********************************/

footer{	
	padding: 0 0;
	font-family: "Open Sans";
	background: rgb(44, 188, 89);
	height: 230px;
	width: 100%;
	color: white;
	margin-top: 20px;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h2{
	font-size: 1.8rem;
	font-weight: 300;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer-bottom p{
	text-align: center;
	align-items: center;
	justify-content: center;
	line-height: 28px;
	font-size: 20px;
}

.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 500;
}

.sociais{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sociais li {
	margin: 0 12px;
	font-size: 20px;
}

.sociais a {
	text-decoration: none;
	color: white;
	width: 15px;
}

.sociais a i {
	font-size: 1.9rem;
}

.sociais a:hover{
	color: aqua;
}